@import '../../styles/variables';

.dot {
    @extend %dot;

    font-size: 16px;
    width: $dot-size;
    height: $dot-size;
    line-height: $dot-size;
    transform: scale(0.4);
    color: transparent;
    position: absolute;
    cursor: default;
    font-weight: 800;

    &.focused {
        box-shadow:
            0 1px 1px rgba(0 0 0 / 10%),
            0 2px 4px rgba(0 0 0 / 10%),
            inset 0 1px 1px #68B2C9,
            0 0 0 16px rgba(22 79 208 / 20%);
    }

    &.hide {
        transform: scale(0);
    }
}